body {
    text-align: center;
}

form {
    margin: 20px auto;
    width: 500px;
    text-align: right;
    border: 3px solid grey;
    padding-right: 30px;
}

h1 {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

input[type="text"], input[type="password"], select {
    margin: 20px 100px 5px 20px;
    padding: 10px;
    width: 150px;
}

.options, .password-checkbox {
    text-align: center;
    padding: 20px;
}

.password-checkbox {
    text-align: center;
    padding: 2px;
    font-size: 11px;
}

.alert {
    display: none;
    color: #3A9040;
    margin: 5px auto;
}

.alert-visible {
    display: block;
}

.validationComment {
    color: red;
    font-size: 9px;
    text-align: right;
    margin-right: 100px;
}

.ok {
    color: green;
}

.notvalid {
    background-color: mistyrose;
}

input[type="button"] {
    width: 100px;
}

textarea {
 margin-right: 30px;
}

.submit-reset {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.form-submitted {
    background-color: #CBEBCD;
    border: 3px solid #115510;
}
