body {
    text-align: center;
}

input[type="text"], select {
    margin: 20px;
    padding: 10px;
    width: 150px;
}

input[type="button"], input[type="radio"], input[type="checkbox"] {
    margin: 20px;
    padding: 10px;
}
